body{
    background-image: url(../img/swirl.jpg);
    background-position: continue;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    }

.main{
 margin: 0;
 padding: 10px;
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
}
.container{

}
#header1{
    color:white;
    z-index: 5;
}

.space{
    padding:20px;
}
.title{
    padding:10px;
}