body{
  font-family: 'Slabo 27px', serif;
  background-color:#EEE;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style-type: none;
  font-style: center;
 
} 
#main{
background-color: #eaf0ef;
width:1000px;
margin-left: auto;
margin-right: auto;
padding:10px;
}

#container{
  background-color: #76c2f5;
  Margin-left:auto;
  margin-right:auto;
}
#header{
  background-color: rgb(74, 182, 236);
  color:black;
  text-align:center;
  padding:10px;
  font-weight:bold;
  font-style: center;
}
.title-is-1{
  font-size: 10px;
}
.h2{
  align-items:center; 
}
.main-content{
   width:800px;
  float:right;
padding:10px;
background-color:white;
}
.wrapper{
    display:gird;
    grid-template-columns:repeat(3 1fr);
    grid-gap:1em;
    grid-auto-rows: minmax(100px,auto)
}

.wrapper > div{
    background-color:white;
    padding: 1em;
}

.wrapper > div:noth-child odd{
    background-color:white;

}

#footer{
  clear:both;
  padding:10px;
  background-color: #999999;
  color: white;
  text-align:left;
}
